<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangxu.agmall.dao.CategoryMapper">
  <resultMap id="BaseResultMap" type="com.zhangxu.agmall.entity.Category">
    <!--
      WARNING - @mbg.generated
    -->
        <id column="category_id" jdbcType="INTEGER" property="categoryId" />
        <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
        <result column="category_level" jdbcType="INTEGER" property="categoryLevel" />
        <result column="parent_id" jdbcType="INTEGER" property="parentId" />
        <result column="category_icon" jdbcType="VARCHAR" property="categoryIcon" />
        <result column="category_slogan" jdbcType="VARCHAR" property="categorySlogan" />
        <result column="category_pic" jdbcType="VARCHAR" property="categoryPic" />
        <result column="category_bg_color" jdbcType="VARCHAR" property="categoryBgColor" />
  </resultMap>
  <resultMap id="categoryVOMap" type="com.zhangxu.agmall.entity.CategoryVO">
      <id column="category_id1" jdbcType="INTEGER" property="categoryId" />
      <result column="category_name1" jdbcType="VARCHAR" property="categoryName" />
      <result column="category_level1" jdbcType="INTEGER" property="categoryLevel" />
      <result column="parent_id1" jdbcType="INTEGER" property="parentId" />
      <result column="category_icon1" jdbcType="VARCHAR" property="categoryIcon" />
      <result column="category_slogan1" jdbcType="VARCHAR" property="categorySlogan" />
      <result column="category_pic1" jdbcType="VARCHAR" property="categoryPic" />
      <result column="category_bg_color1" jdbcType="VARCHAR" property="categoryBgColor" />
      <collection property="categories" ofType="com.zhangxu.agmall.entity.CategoryVO">
          <id column="category_id2" jdbcType="INTEGER" property="categoryId" />
          <result column="category_name2" jdbcType="VARCHAR" property="categoryName" />
          <result column="category_level2" jdbcType="INTEGER" property="categoryLevel" />
          <result column="parent_id2" jdbcType="INTEGER" property="parentId" />
          <collection property="categories" ofType="com.zhangxu.agmall.entity.CategoryVO">
              <id column="category_id3" jdbcType="INTEGER" property="categoryId" />
              <result column="category_name3" jdbcType="VARCHAR" property="categoryName" />
              <result column="category_level3" jdbcType="INTEGER" property="categoryLevel" />
              <result column="parent_id3" jdbcType="INTEGER" property="parentId" />
            <!--Could not set property 'categories' of 'class com.zhangxu.agmall.entity.CategoryVO'
with value 'CategoryVO(categoryId=43, categoryName=铜锣烧, categoryLevel=3, parentId=11, categoryIcon=null, categorySlogan=null, categoryPic=null, categoryBgColor=null, categories=null)' Cause: java.lang.IllegalArgumentException: argument type mismatch] with root cause
-->
          </collection>
      </collection>
  </resultMap>
  <resultMap id="categoryVOMap2" type="com.zhangxu.agmall.entity.CategoryVO">
        <id column="category_id" jdbcType="INTEGER" property="categoryId" />
        <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
        <result column="category_level" jdbcType="INTEGER" property="categoryLevel" />
        <result column="parent_id" jdbcType="INTEGER" property="parentId" />
        <result column="category_icon" jdbcType="VARCHAR" property="categoryIcon" />
        <result column="category_slogan" jdbcType="VARCHAR" property="categorySlogan" />
        <result column="category_pic" jdbcType="VARCHAR" property="categoryPic" />
        <result column="category_bg_color" jdbcType="VARCHAR" property="categoryBgColor" />
        <collection property="categories" column="category_id" ofType="com.zhangxu.agmall.entity.CategoryVO" select="selectAllCategories2">

        </collection>
  </resultMap>
<!--    A集<A>,能递归
        方法中,调方法
-->
    <select id="selectAllCategories" resultMap="categoryVOMap">
        select
         c1.category_id 'category_id1',
         c1.category_name 'category_name1',
         c1.category_level 'category_level1',
         c1.parent_id 'parent_id1',
         c1.category_icon 'category_icon1',
         c1.category_slogan 'category_slogan1',
         c1.category_pic 'category_pic1',
         c1.category_bg_color 'category_bg_color1',
            c2.category_id 'category_id2',
            c2.category_name 'category_name2',
            c2.category_level 'category_level2',
            c2.parent_id 'parent_id2',
                c3.category_id 'category_id3',
                c3.category_name 'category_name3',
                c3.category_level 'category_level3',
                c3.parent_id 'parent_id3'
        from category c1
        inner join category c2
        on c2.parent_id = c1.category_id
        left join category c3
        on c3.parent_id = c2.category_id
        where c1.category_level = 1;
    </select>
    <select id="selectAllCategories2" resultMap="categoryVOMap2">
        SELECT
            category.category_id,
            category.category_name,
            category.category_level,
            category.parent_id,
            category.category_icon,
            category.category_slogan,
            category.category_bg_color,
            category.category_pic
        FROM
            category
        WHERE
            parent_id =#{parentId};
    </select>

</mapper>